.eslintrc.js
node_modules
apps/**/node_modules
packages/**/node_modules
.npm
.pnpm
/build
vendor

apps/**/out
apps/**/.next
apps/**/dist
apps/**/build
apps/**/mapStyles.js.js

packages/**/dist
packages/**/build
packages/**/cjs
packages/curri-db/migrations/archived
packages/curri-db/testdata
packages/curri-maps/src/types/**/*

packages/**/serviceWorker.ts
packages/**/serviceWorker.js

**/*/playground.ts
**/*/generated-graphql-types.ts

**/*/*deno

apps/**/generated-*.ts
packages/**/generated-*.ts

apps/**/hooks-generated/index.ts
apps/curri-api/src/graphql/type-defs/schema-generated/index.ts
apps/curri-marketing-api/**/*.ts
apps/curri-fleets/public/**/*.*

cypress-testing/cypress/e2e/cypress/support
cypress-testing/cypress/support
